* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.card {
    border: 3px solid black;
    width: 400px;
    padding: 20px;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.1); 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

span {
    font-size: 18px;
}

.btn {
    background-color: #ffd166; 
    border: 3px solid black;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 0 black;
    transition: all 0.1s;
    font-family: unset;
}

.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(3px, 3px);
}
